@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
body,
html{
   
    margin:0;
    padding:0;
    height:100% !important;
    background-color: #F4F4F4;
    
    
    
}
 .dark{
  background-color: #1A1C23;
  ::-webkit-scrollbar {
    width: 10px !important;

}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

}


.yaxis-dark{
  fill:#878A99;
}
.yaxis-light{
  fill:#878A99 !important
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.my-circle-icon circle {
    r: 7px; /* Default radius */
  }
  
  .my-circle-icon.active circle {
    r: 8px; /* Radius when active */
  }