@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
body,html {
    margin: 0;
    padding: 0;
    height: 100% !important;
    background-color: #f4f4f4;
}
.dark body,.dark {
    background-color: #1a1c23;
}
.dark ::-webkit-scrollbar {
    width: 10px !important;
}
.dark .inputStyle {
    @apply border-none bg-[#1A1C23] text-neutral-400;
}
.dark .loginStyle:-webkit-autofill,
.dark  .loginStyle:-webkit-autofill:hover,
.dark .loginStyle:-webkit-autofill:focus,
.dark .loginStyle:-webkit-autofill:active {
    -webkit-text-fill-color: #878a99 !important;
    -webkit-box-shadow: 0 0 0px 1000px #22242B inset !important;
}
/* Change the white to any color */
.dark input:-webkit-autofill,
.dark  input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    
    -webkit-text-fill-color: #878a99;
    -webkit-box-shadow: 0 0 0px 1000px #1A1C23 inset;
    border:solid 1px 1A1C23 ;
}
.labelStyle{
  animation: fadeIn 1s ease;
}
.dark .labelStyle {
    @apply text-neutral-300;
    
 } /* Corrected keyframe name */
  @keyframes fadeIn{
      from {
        transform: translateX(-100%);
       
      }
      to {
        transform: translateX(0);
        
      }
    }


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.yaxis-dark {
    fill: #878a99;
}
.yaxis-light {
    fill: #878a99 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my-circle-icon circle {
    r: 7px; /* Default radius */
}

.my-circle-icon circle {
    r: 8px; /* Radius when active */
}

